<div class="form-container">
    <form [formGroup]="passwordForm" (ngSubmit)="submit()" class="form">
        <h2>Modifier le mot de passe</h2>
        <div class="form-group">
            <label for="oldPassword">Mot de passe actuel</label>
            <input type="password" formControlName="oldPassword" id="oldPassword" />
        </div>
        <div class="error" *ngIf="passwordForm.get('oldPassword')?.touched && passwordForm.get('oldPassword')?.invalid"></div>
        <div class="form-group">
            <label for="password">Nouveau mot de passe</label>
            <input type="password" formControlName="password" id="password" />
        </div>
        <div class="error" *ngIf="passwordForm.get('password')?.touched && passwordForm.get('password')?.invalid"></div>
        <div class="form-group">
            <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
            <input type="password" formControlName="confirmPassword" id="confirmPassword" />
        </div>
        <div class="error" *ngIf="passwordForm.get('confirmPassword')?.touched && passwordForm.get('confirmPassword')?.invalid"></div>
        <div class="actions">
            <button type="submit" [disabled]="passwordForm.invalid">
                Enregistrer
            </button>
        </div>
        <div class="actions">
            <button type="button" (click)="cancel()" class="secondary">
                Annuler
            </button>
        </div>
    </form>
</div>