<div class="form-container">
    <form [formGroup]="addressForm" (ngSubmit)="submit()" class="form">
  
      <h2>Adresse</h2>
  
      <!-- Type -->
      <div class="form-group">
        <label>Type d'adresse</label>
        <select formControlName="addressType">
          <option value="">Sélectionner</option>
          <option value="BILLING">Facturation</option>
          <option value="SHIPPING">Livraison</option>
        </select>
      </div>
      <div class="form-group">
        <label>Libellé</label>
        <input type="text" formControlName="label" placeholder="Rue..." />
      </div>
      <!-- Street -->
      <div class="form-group">
        <label>Adresse</label>
        <input type="text" formControlName="street" placeholder="Rue..." />
      </div>
  
      <!-- Street 2 -->
      <div class="form-group">
        <label>Complément</label>
        <input type="text" formControlName="complement" placeholder="Appartement, étage..." />
      </div>
  
      <!-- Row -->
      <div class="form-row">
        <div class="form-group">
          <label>Code postal</label>
          <input type="text" formControlName="postalCode" placeholder="75000" />
        </div>
  
        <div class="form-group">
          <label>Ville</label>
          <input type="text" formControlName="city" placeholder="Paris" />
        </div>
      </div>
  
      <!-- Country -->
      <div class="form-group">
        <label>Pays</label>
        <input type="text" formControlName="country" placeholder="France" />
      </div>
  
      <!-- Button -->
      <button type="submit" [disabled]="addressForm.invalid">
        Enregistrer
      </button>
  
    </form>
  </div>